@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Nunito", serif;
    padding: 70px;
}

hr {
    border: 2px solid #000000;
    margin: 20px 0px;
    width: 85%;
}

h4 {
    color: #009414;
    margin: 15px 0px;
}

p {
    font-size: 1rem;
    font-weight: 700;
}

section {
    margin: 20px 0px;
}

div {
    margin: 20px 0px;
}